$\.-logo: -0px -0px 1280px 124px;
$avatars-avatar1: -0px -0px 50px 50px;
$avatars-avatar2: -0px -50px 50px 50px;
$avatars-avatar3: -0px -100px 50px 50px;
$avatars-avatar5: -0px -150px 50px 50px;
$avatars-avatar6: -0px -200px 50px 50px;
$avatars-avatar7: -0px -250px 50px 50px;
$photos-photo3-thumbnail: -0px -0px 864px 522px;
$photos-photo5-thumbnail: -0px -522px 864px 576px;
$photos-photo2-thumbnail: -0px -1098px 864px 576px;
$photos-photo9-thumbnail: -0px -1674px 864px 576px;
$photos-photo1-thumbnail: -0px -2250px 864px 576px;
$photos-photo6-thumbnail: -0px -2826px 864px 577px;
$photos-photo4-thumbnail: -0px -3403px 864px 583px;
$photos-photo7-thumbnail: -0px -3986px 864px 648px;
$photos-photo8-thumbnail: -0px -4634px 864px 864px;
$photos-photo3: -0px -5498px 1876px 1133px;
$photos-photo1: -0px -6631px 1876px 1250px;
$photos-photo9: -0px -7881px 1876px 1250px;
$photos-photo5: -0px -9131px 1876px 1251px;
$photos-photo2: -0px -10382px 1876px 1251px;
$photos-photo6: -0px -11633px 1876px 1253px;
$photos-photo4: -0px -12886px 1876px 1265px;
$photos-photo7: -0px -14151px 1876px 1407px;
$photos-photo8: -0px -15558px 1876px 1876px;
$photos-header: -0px -17434px 2880px 1943px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
   @return nth($sprite, 3);
}
@function sprite-height($sprite) {
   @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: block) {
   @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

.icon-\. {
  background-image: url('../img/sprite-..png');
}

.icon-avatars {
  background-image: url('../img/sprite-avatars.png');
}

.icon-photos {
  background-image: url('../img/sprite-photos.png');
}
