.image-grid .image .info .avatar {
    border-radius: 50%;
    float: left;
    height: 50px;
    margin-right: 1rem;
    width: 50px;
}

.avatar-2 {
	@include sprite($avatars-avatar2);
}

.avatar-3 {
	@include sprite($avatars-avatar3);
	
}
.avatar-4 {
	@include sprite($avatars-avatar2); //same as avatar 2
}
.avatar-5 {
	@include sprite($avatars-avatar5);
}
.avatar-6 {
	@include sprite($avatars-avatar6);
}
.avatar-7 {
	@include sprite($avatars-avatar7);
	
}

