.image-grid {
    padding: 0 3rem;
    //max-width: 1440px;
    max-width: 90.0625em;
    margin: auto;

    h2 {
        color: $text-gray;
        font-family: $font-serif;
        font-size: 1.5rem;
        font-style: italic;
        font-weight: normal;
    }

    .row {
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .columns {
        padding-left: 0;
    }

    .image a {
        border-radius: .5rem .5rem 0 0;
        /* max-height: 15rem; */
        /* min-height: 15rem; */
        display: block;
        min-width: 100%;
        overflow: hidden;
    }

    .image .info {
        background-color: #fff;
        border-bottom: 2px solid;
        border-bottom-color: $gray-green;
        border-radius: 0 0 .5rem .5rem;
        padding: 1rem;

        .attribution {
            color: $text-gray;
            font-family: $font-sans;
            font-size: 0.95rem;
        }

        .attribution b {
            display: block;
            font-weight: 500;
        }

    }
}







