$font-serif: Arvo, serif;
$font-sans: Ubuntu, sans-serif;

$athens-gray: #EFF0F1;
$san-juan: #495560;

$dark-gray: #7A8995;

$background-color: $athens-gray;
$text-gray: $san-juan;

$standard-padding: 1.5rem 3rem;

$hover-color: #52CA6D;

//$menu-bold: #2FABCE;