footer {
	p {
	    color: $text-gray;
	    font-family: $font-sans;
	    font-size: 0.95rem;
	    padding-top: 0.5rem;
	}

	.social {
    	text-align: right;
	}

	.custom-icon {
    	height: 35px;
    	width: 35px;
	}

}



