.menu .logo {
    
    background: url('../img/images/logo.png') no-repeat top left;
    background-size: contain;
    //font-family: $font-serif;
    //font-size: 2rem;
    //font-weight: bold;
    //line-height: 1;
    margin: 0;
    //color: rgb(72, 84, 97);
    //text-indent: -9999999rem;
    //overflow: hidden;
    width: 24rem;
    height: 3rem;
    
}

@media only screen and (min-width: 40.0625em) {
    .menu .logo {
        width: 32rem;
        height: 4rem;
    }
}

@media only screen and (min-width: 64.0625em) {
    .menu .logo {
        margin-right: auto;
    }
}

@media only screen and (min-width: 90.0625em) {
    .menu .logo {
        //float: left;
        width: 40rem;
        height: 5rem;
    }
}