.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 120.0625em;
    margin: auto;
    background-color: $background-color;
    font-family: $font-serif;
    padding: $standard-padding;
    height: auto;

    .inline-list {
        text-align: center;
        margin: 0.5rem 0 auto 0;

        li {
            float: none;
            display: inline-block;
        }

        a {
            color: $text-gray;
            font-weight: bold;
            letter-spacing: 0.125rem;
            padding-bottom: 0.5rem;
            text-transform: uppercase;

            &:hover {
                color: $hover-color;
                transition: all .3s ease-in-out;
            }
        }

        .active a {
            color: $hover-color;
        }
    }


}


@media only screen and (min-width: 64.0625em) {
    .menu {
        flex-direction: row;
        justify-content: flex-start;
    }
    .menu .inline-list {
        padding-top: 1rem;
        margin: 0 0 0 1.5rem;
    }
}