.hero .info .avatar {
	//object-fit: none;
	//object-position: 0 0;
    border-radius: 50%;
    float: right;
    height: 50px;
    margin-left: 1rem;
    width: 50px;
}
/*
.avatar-1 {
	object-position: $avatars-avatar1;
}
*/