.hero {
    max-width: 120.0625em;
    margin: auto auto 1rem auto;
    background: url("../img/images/photo4.jpg") no-repeat center center;
    background-size: cover;
    height: 10rem;
    padding: $standard-padding;

    .info {
        float: right;
        margin-top: 5rem;

        .attribution {
            color: $background-color;
            font-family: $font-sans;
            font-size: 0.95rem;
            float: left;
            text-align: right;
        }

        .attribution b {
            color: $text-gray;
            display: block;
            font-weight: bold;
        }
    }    
}

@media only screen and (min-width: 40.063em) {
        .hero {
            height: 26.67rem;  

            .info {
                margin-top: 20rem;
            }
        }

    }

    @media only screen and (min-width: 64.063em) {
        .hero {
            height: 42.7rem; 

            .info {
                margin-top: 35rem;
            } 
        }
    }

    @media only screen and (min-width: 90.063em) {
        .hero {
            height: 60rem;  

            .info {
                margin-top: 53rem;
            }
        }
    }

